:root{
  --cor-p1: #067DBA;
  --cor-p2: #00A9FE;
  --cor-p3: #00B3DA;
  --cor-p4: #001939;
  --cor-p5: #32465D;
  --cor-p6: #98B3C3;
}

.cor-p1{
  color: var(--cor-p1);
}

.cor-p2{
  color: var(--cor-p2);
}

.cor-p3{
  color: var(--cor-p3);
}

.cor-p4{
  color: var(--cor-p4);
}

.cor-p5{
  color: var(--cor-p5);
}

.cor-p6{
  color: var(--cor-p6);
}