/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

img {
  /* manten imagem 100% sem esticar */
  max-width: 100%;
  height: auto;
  display: block;
}

body{
  background: var(--cor-p6);
}